<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Play Kenken - from the desk of Pinal Bhatt</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cerulean/bootstrap.min.css" rel="stylesheet"
          integrity="sha256-Ucf/ylcKTNevYP6l7VNUhGLDRZPQs1+LsbbxuzMxUJM= sha512-FW2XqnqMwERwg0LplG7D64h8zA1BsxvxrDseWpHLq8Dg8kOBmLs19XNa9oAajN/ToJRRklfDJ398sOU+7LcjZA=="
          crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg=="
          crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/css/custom.css">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-9753249-14', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body ng-app="kenApp" ng-controller="kenController as kc">
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="../" class="navbar-brand">KenKen | PBDesk</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="http://PBDesk.IO" target="_blank">PBDesk.IO</a></li>
            </ul>

        </div>
    </div>
</div>


<div class="container">

    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>Play KenKen</h1>
                <p class="lead">from the desk of Pinal Bhatt</p>

            </div>
            <div class="col-lg-4 col-md-5 col-sm-6">
                <div class="sponsor" style="max-height: 120px">

                </div>
            </div>
        </div>

    </div>

    <!-- Navbar
    ================================================== -->
    <div class="clearfix">
        <div class="row">
            <div class="col-lg-12">
                <div class="bs-component">
                    <nav class="navbar navbar-default">
                        <div class="container-fluid">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                        data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#">Play</a>
                            </div>

                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <form class="navbar-form navbar-left" role="search">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search">
                                    </div>
                                    <button type="submit" class="btn btn-default">Submit</button>
                                </form>
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="#">Link</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>


            </div>
            <div class="col-lg-12">
                <div class="col-lg-4 col-md-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Select Size, Operations & Level</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row well well-sm cwell">
                                <div class="btn-group btn-group-justified">
                                    <label ng-repeat="sizeOp in kc.sizeOptions" class="btn btn-success" ng-model="kc.input.size" uib-btn-radio="'{{sizeOp.value}}'" >{{sizeOp.label}}</label>
                                </div>
                            </div>
                            <div class="row well well-sm cwell">
                                <div class="btn-group btn-group-justified">
                                    <label ng-repeat="opOp in kc.operatorsOptions" class="btn btn-success" ng-model="kc.input.ops" uib-btn-radio="'{{opOp.value}}'" >{{opOp.label}}</label>
                                </div>

                            </div>
                            <div class="row well well-sm cwell">
                                <div class="btn-group btn-group-justified">
                                    <label ng-repeat="lvlOp in kc.levelOptions" class="btn btn-success" ng-model="kc.input.level" uib-btn-radio="'{{lvlOp.value}}'" >{{lvlOp.label}}</label>
                                </div>
                            </div>
                            <div class="row well well-sm cwell pull-right">
                                <button class="btn btn-primary bth-lg" ng-click="kc.PlayClicked()"> Play</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8">
                    <div>
                        <table cellspacing="0" cellpadding="0" class="rcTable">
                            <tr>
                                <td ng-repeat="b in kc.inputButtons" style="padding-bottom: 5px; text-align: center">
                                    <button type="button" class="btn btn-primary btn-lg btn-circle">{{b}}</button>
                                    <br/>
                                </td>
                            </tr>
                            <tr ng-repeat="row in kc.viewBoard" class="rc">
                                <td ng-repeat="col in row" ng-class="{rc: true, bdr: true, bbtop: col.top===1, bbrgt: col.rgt===1, bbbtm: col.btm===1, bblft: col.lft===1}">
                                    <span class="hint badge">{{col.hint}}</span>
                                    <br/>
                                    <div style="text-align: center">
                                        <input type="text" size="5"/>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <footer>
        <div class="row">
            <div class="col-lg-12">
                <ins class="adsbygoogle"
                     style="display:block"
                     data-ad-client="ca-pub-4686631795727964"
                     data-ad-slot="2916833545"
                     data-ad-format="auto"></ins>
            </div>
        </div>
        <div class="footer">
            <div class="col-lg-12">

                <div class="container">
                    <p><b>PBDesk | Kenken</b> - Play kenken online for free</p>
                    <p>Concept perceived, designed and developed by <a
                            href="https://plus.google.com/116495447274977757345?rel=author"><b>Pinal Bhatt</b></a>.</p>
                    <p>My Website: <b><a target="_blank" href="http://www.PBDesk.io">PBDesk.IO</a> - </b> From the desk
                        of Pinal Bhatt.</p>
                    <p>&nbsp;</p>
                    <p>Follow Me At</p>
                    <div class="social"><a target="_blank" class="twitter" href="http://twitter.com/PBDesk"><i
                            class="fa fa-twitter"></i></a> <a target="_blank" class="facebook"
                                                              href="https://www.facebook.com/Go.PBDesk"><i
                            class="fa fa-facebook"></i></a> <a target="_blank" class="google-plus"
                                                               href="https://plus.google.com/+Pbdesk"><i
                            class="fa fa-google-plus"></i></a> <a target="_blank" class="linkedin"
                                                                  href="http://www.linkedin.com/in/pinalbhatt"><i
                            class="fa fa-linkedin"></i></a> <a target="_blank" class="pinterest"
                                                               href="https://github.com/PBDesk"><i
                            class="fa fa-github"></i></a></div>

                </div>

            </div>
        </div>

    </footer>


</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha256-KXn5puMvxCw+dAYznun+drMdG1IFl3agK0p/pqT9KAo= sha512-2e8qq0ETcfWRI4HJBzQiA3UoyFk6tbNyG+qSaIBZLyW9Xf3sWZHN/lxe9fTh1U45DpPf07yj94KsUHHWe4Yk1A=="
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.0.3/ui-bootstrap-tpls.min.js"></script>
<script src="/assets/js/kenApp.js"></script>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>

</body>
</html>
